body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: white;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
  position:absolute;
}

/* The animation code */
@keyframes float-up {
    0%   {top:65vh;}
    100% {top:0px;}
}
@keyframes fade-in {
    0%   {opacity:0;}
    50% {opacity:1;}
    100%   {opacity:0;}
}
  
/* The element to apply the animation to */
.sub {
    position: relative;
    animation-name: float-up;
    animation-duration: 3s;
}
.down {
    animation: fade-in 2s 3s forwards infinite;
    opacity: 0;
    font-size: 150%;
}

.left {
    position:absolute;
    right:50%;
    padding:10px;
    text-align:right
}

.right {
    position:absolute;
    left:50%;
    padding:10px;
    padding-left:15px;
}